<table class="text-container" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="separator-container"><img
      class="separator" src="https://i.ibb.co/JxskdBd/edm-horizontal-line-grey-600px.png" alt="edm-horizontal-line-grey-600px" data-inline-ignore ></td>
  </tr>
  <tr>
    <td>
      <br>
      <table class="text-container" cellpadding="5" cellspacing="0" border="0">
        <tr>
        </tr>
      </table>
      <br>
    </td>
  </tr>
</table>

<table class="text-container footer" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="vertical-padding"></td>
  </tr>
  <tr>
    <td>
      <table class="text-container" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="side-padding">&nbsp;</td>
          <td class="footer-links-container">
            <div class="footer-links">
              <a href="https://docs.github.com/en/github/site-policy/github-privacy-statement" x-cq-linkchecker="skip" class="footer-disclaimer" >Privacy</a>
              <span>&nbsp;|&nbsp;</span>
              <a href="https://docs.github.com/en/github/site-policy/github-corporate-terms-of-service" x-cq-linkchecker="skip" class="footer-disclaimer">Terms of Service</a>
            </div>
          </td>
          <td class="footer-social-links-container">
            <table align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="social-media-icon"><a href="https://www.facebook.com" x-cq-linkchecker="skip"><img
                  src="https://i.ibb.co/N1Q0Ktk/facebook.png" alt="facebook" data-inline-ignore ></a>
                </td>
                <td class="social-media-icon"><a href="https://twitter.com" x-cq-linkchecker="skip"><img
                  src="https://i.ibb.co/HXXJZ4z/twitter.png" alt="twitter" data-inline-ignore ></a>
                </td>
                <td class="social-media-icon"><a href="http://www.youtube.com" x-cq-linkchecker="skip"><img
                  src="https://i.ibb.co/ysv6bY5/youtube.png" alt="youtube" data-inline-ignore ></a>
                </td>
              </tr>
            </table>
          </td>
          <td class="side-padding">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="vertical-padding">&nbsp;</td>
  </tr>
  <tr>
    <td>
      <table class="text-container" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td class="side-padding">&nbsp;</td>
          <td class="padded-text-container">
            <p class="footer-disclaimer">
              Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.
            </p>
          </td>
          <td class="side-padding">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="vertical-padding">&nbsp;</td>
  </tr>
</table>
