{% extends "default-layout.html" %}
<!-- Email Title -->
{% set title = "The Cheeseburger" %}
<!-- Email content Block -->
{% block content %}
<table>
    <tr>
        <td class="side-padding">&nbsp;</td>
        <td>
            <table class="text-container" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" class="text-container">
                        <table class="text-container" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <p class="h1 text-center">
                                        You know you want one!
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="vertical-padding-2x">

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table class="text-container" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <p class="text-center">
                                        We are lucky to live in a glorious age that gives us everything we could ask for as a human race. What more could you need
        when you have meat covered in cheese nestled between bread as a complete meal.
                                    </p>
                                    <br>
                                    <p class="text-center">
                                        <b>Happy digging!</b>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!--Price table-->
            </table>
        </td>
        <td class="side-padding">&nbsp;</td>
    </tr>
    <tr>
        <td class="vertical-padding-2x">

        </td>
    </tr>
</table>

{% endblock %}
<!-- Email subContent Block -->
{% block subContent %} {% endblock %}